
.checkoutContainer{
    border: 1px dashed rgb(75, 74, 74);
    width: 80%;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.buttonBrief{
    width: 100%;
    padding: 8px;
    height: 40px;
    background: none;
    border: 1px solid #b5b4b4;
    font-weight: bolder;
    cursor: pointer;

}

.brief{
    padding: 10px;
    
}

.lista{
    list-style: square;
}

.listaLi{
    padding: 6px;
}

.totalPriceBrief{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.inputContainer{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    height: 200px;
}

.datos{
    text-align: center;
    font-size: 14px;
    width: 80%;
    padding: 5px;
}

.inputDatos{
    width: 100%;
    font-weight: bold;
    border-radius: 2px;
    background-color: none;
    border: 1px solid #cecece;
}